
/* navbar  */

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* font-family: poopins; */
   /* font-family:poopins; */
}
/* .libtnmoon{
  font-size: 25px;
  color: #6B21A8;
} */
.navb{
  border-bottom: 1px groove rgba(128, 128, 128, 0.189);
}
/* .navbarbtnli>.darkmodeIcon{
  background-color: transparent;
  border-radius: 20px;
  border: none;
} */
.navbarbtnli>.navbarbtn2{
  background-color: rgb(192 132 252);
 color: white;
  border: none;
  transition: .5s ease-in-out;
  font-size: 14px;
  font-weight: 500;
  padding: 10px;
  border-radius: 6px;
  box-sizing: border-box;

}
.navbarbtnli>.navbarbtn{
 background-color: #7e22ce;
 color: white;
 transition: .5s ease-in-out;
  border: none;
  font-size: 14px;
  font-weight: 500;
  padding: 10px;
  border-radius: 6px;
  box-sizing: border-box;

}
/* .navbarbtnli>.navbarbtn:focus{
  
  border:5px solid rgb(186, 129, 235);
 
} */
.white{
  color: #ffffff !important;
  /* transition: .2s ease-in-out; */
}
.premaryColor{
  /* transition: .5s ease-in-out; */
  color: rgb(192 132 252);
}
.premaryColor2{
  /* transition: .5s ease-in-out; */
  color:rgb(126, 34, 206);
}
.navbar-nav>li{
  font-weight: 500;
}
.font-color-700{
  color:rgb(126, 34, 206);
  cursor: pointer;
}
.font-color-800{
  color:rgb(192 132 252);
  cursor: pointer;
  transition: .5s ease-in-out;
}
.font-color-800:hover{
  color:rgb(126, 34, 206);
}
.bg-color-700{
  transition: .5s ease-in-out;
  background-color:rgb(126, 34, 206);
  color: white;
  cursor: pointer;
}
.font-color-700:hover{
  color:rgb(126, 34, 206);
}
.title{
  font-weight: bold;
}
.active{
  color: #ac48ff !important;
}
.homeicon1{
  border: none;
  /* color: #6B21A8; */
  background-color: white;
}
.homeicon2{
  border: none;
  /* color: #6B21A8; */
  background-color:#212529;
}
.homeicon .homeiconmain{
  color: #6B21A8;
  
}
.navContainer{
  position:sticky;
  top: 0px;
  z-index: 10;
  background-color: white;
}

/* section 1 */
/* home */

.heroSection{
  
}
.heroSectionRow{
  /* height: 63vh;
  width: auto; */
}
.heroSectionLeftDiv{
  padding: 80px 30px;
}
.heroSectionLeftDiv h1{
  font-weight: 600;
  font-size: 2.2rem;
  
}
.heroSectionLeftDiv h1 span{
 color: #6B21A8;
}
.heroSectionLeftDiv p{
/* text-align: justify; */
font-weight: 400;
}
.heroSectionLeftDiv h6{
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: -5px;
  margin-bottom: 10px;
  /* height: 20px; */
  
}
.heroSectionBtns button{
  font-size: 14px;
  
}
.mainimg{
  height: 95%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%);
  background: linear-gradient(rgba(24, 29, 56, 0.2), rgba(24, 29, 56, 0.3)),
    url("/mainImg.avif");
    background-size: 100% 100% ;
  
}

.heroSectionRightDiv{
  margin: 0px;
  padding: 0px;
  /* height: 30vw; */
  /* background-color: #6B21A8; */
  /* padding-bottom: 20px ; */
  
}

/* typing animation */
.Typinganimation{
  color: #6B21A8;
}
.section2{
  height: 80vh;
  width: 100%;
}
.courseCards{
  height: 80vh;
  width: 100%;
}

/* card */
.card{
  border: none;
  /* text-align: center; */
}


.cardh6{
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: -10px;
  margin-top: -15px;
  
  /* object-fit: contain;
   */
}
.cardBtn{
  border-radius: 20px;
  /* margin-top: -50px; */
  
 
}
.cardBtn:hover{
  background-color:blueviolet;
  color: white;

}
.style1{
  width: 24rem;
  overflow: hidden;
}
.style2{
  width: 22rem;
  /* background-color:yellow; */
}


/* section 2 */
.section2{
  width: 100%;
  height: auto;
  /* background-color: yellow; */
  margin-bottom: 50px;
}


/* section 3 */

.section3 h1{
  text-align: center;
  font-weight: 500;
  font-size: 1.875rem;

}
.testimonials{
  /* background-color: violet; */
  cursor: pointer;


}
.testomonialImgs{
  height: 100px;
  width: 100px;
  border-radius: 150px;
  
}
/* .testomonialh5margintop{
  margin-top: -15px;
  font-size: 95px;
  font-weight: 630;
} */

/* footer */
.section9::before {
  position: absolute;
  content: "ram";
  width: 4%;
  height: 2px;
  top: 3px;
  left: 555px;
  margin-top: 0px;
  background-color: #06bbcc;
  z-index: 1;
}
.copyright {
  display: flex;
  justify-content: center;
}
.innerparentdiv {
  margin-top: 30px;
  width: 90%;
  height: auto;
  color: #6B21A8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  border-top: 1px solid #6B21A8 ;
  /* color: #ffffff; */
}
.innerparentdiv1 {
  margin-top: 30px;
  width: 90%;
  height: auto;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  border-top: 1px solid #ffffff ;
  /* color: #ffffff; */
}

.innerparentdivul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 10px;
}
.innerparentdivul li {
  padding-right: 25px;

  list-style: none;
  font-size: 15px;
}
.innerparentdiv p {
  font-size: 15px;
}

.innerparentdiv a {
  text-decoration: underline;
  padding-top: 10px;
  color:#6B21A8;
}
.innerparentdiv p::before {
  content:'' ;
}
.sectionFooter{
  /* background-color:#6b21a8d8; */

  margin-top: 50px;
}

/* before and after */

.containtparent {
  position: relative;
}
.section2 .containtparent > h4 {
  text-align: center;
  margin-top: 30px;
  color:#6B21A8;
  font-weight: 500;
  font-size: 1.2rem;
}
.section2 .containtparent > h1 {
  text-align: center;
  font-weight: 500;
  font-size: 1.875rem;
}
/* first */
.containt::before {
  position: absolute;
  content: "";
  width: 4%;
  height: 2px;
  top: 6px;
  left: 40vw;
  margin-top: 0px;
  background-color:#6B21A8;
  z-index: 1;
}
/* second */
.containtparent::before {
  position: absolute;
  content: "";
  width: 6%;
  height: 2px;
  top: 15px;
  left: 38vw;
  margin-top: 0px;
  background-color:#6B21A8;
  z-index: 1;
}
/* first */
.containt::after {
  position: absolute;
  content: "";
  width: 4%;
  height: 2px;
  top: 6px;
  left: 54vw;
  margin-top: 0px;
  background-color:#6B21A8;
  z-index: 1;
}
/* second */
.containtparent::after {
  position: absolute;
  content: "";
  width: 6%;
  height: 2px;
  top: 15px;
  left: 54vw;
  margin-top: 0px;
  background-color:#6B21A8;
  z-index: 1;
}

/* courses page */
.cardWrapper{
  /* background-color: red; */
  /* padding: 4rem; */
}
.courseCardswhite{
  background-color:#1E293B;
}
.courseCardswhitenot{
  color:#7092A8;
}

.parag{
 
  height: 150px;
  width:100%
  
}
.btnContainer button{
  background-color: #6B21A8 !important;
}

/* tutorial page */

.nablinkinsidebtn{
  color: black;
  text-decoration: none;
}
/* tutorial card */
.tutorialCardImg{
  /* background-color: red; */
  height: 100px;
  width: auto;
  object-fit:contain;

}
.tutorialinsidbtn{
  /* border: none; */
  /* background-color: unset; */
  /* outline: none; */
}

/* blog page */

.blogH1{
  text-align: center;
  font-weight: 500;
  font-size: 1.875rem;
}

/* notes paage */

.NotesH1{
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
  color: #6B21A8;
}
.notesPara{
  margin-top: -20px;
}
.borderr{
  border: 1px solid rgba(128, 128, 128, 0.254);
  /* border-radius: 30px; */
}

/* contact page */

.contactWrapper{
  margin-top: 100px;
  margin-bottom: 50px;
  /* padding: 100px 50px 0px 50px; */
  height: 60vh;
  width: 100%;
  /* background-color:#F3F4F6; */
  
}
.contactbgcolor{
  background-color:#F3F4F6;
 border-radius: 90px;

}
.contactImg{
 
  height: 150px;
  width: 150px;
  border-radius: 100%;
}
.contactIcons{
  /* margin-left: 30rem;
  margin-right: 30rem; */
  
}
.iconn{
  font-size: 2rem;
  margin: 30px;
  
}
.iconn2{
  font-size: 2rem;
  margin: 30px;
  color: white;
  cursor: pointer;
}
.iconn:hover{
  cursor: pointer;
  color:#6B21A8;
}
.iconn2:hover{
  /* cursor: pointer; */
  /* color:#6B21A8; */
  color: rgb(192 132 252);
}

/* work with us */
.radiobtnContainer{
  /* background-color: red; */
 margin: 0px;
 padding: 0px;
  /* display: flex;
  justify-content: space-evenly;
  /* flex-wrap: wrap; */ 
  /* display: flex;
  justify-content: space-between;
  flex-wrap: wrap; */
}
.skillsContainer{
  height: 100%;
  width: 100%;
  /* background-color: yellow; */

  
}
ul li{
  list-style: none;
  /* float: right; */
  display: flex;
}
.radiobtnContainer{
  display: flex;
  margin-top: 10px;
  
}
.radiobtnContainer .dd{
  /* background-color: aqua; */
  /* height: 2  8px; */
  /* color: yellow; */
  border-radius: 100%;
  list-style: none;
  /* float: right; */
 margin-left: -10px;
 /* padding: 10px; */

}

.formContainerWorkWithUs{
  /* background-color: #005ce6; */
}

.cpntainerrrrr {
  max-width: 380px;
  /* background-color: #F1F7FE; */
  border-radius: 15px;
  overflow: hidden;
}

.formm {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding:  32px 24px 24px;

  gap: 16px;
  /* text-align: center; */
}

form .head {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

form .head span {
  font-size: 1.6rem;
  font-weight: bolder;
  color: black;
  margin-top: -35px;
}
.item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

form .head p {
  font-size: 1.1rem;
  color: #7C6666;
}

form .inputs {
  overflow: hidden;
  /* background-color: #F1F7FE; */
  /* background-color: #06bbcc; */
  width: 100%;
  margin: 1rem 0.5rem;
  border-radius: 8px;
  border-bottom: none;
  outline: 0;
}

form .inputs input {
  border: none;
  outline: none;
  padding: 8px 15px;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.299);
  font-weight: 200;
  border-radius: 6px;
}

form button {
  background-color:#6B21A8;
  color: white;
  width: 100%;
  height: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 0;
  overflow: hidden;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 1s ease-in-out;
}

form button:hover {
  background-color: #005ce6;
}


/* 404 page */

.Page404maindiv{
  background-image: url("https://hs-marketing.imgix.net/images/pages/404/illustration-dogs.png?ixlib=gatsbyHook-2.1.1&fit=min&auto=format%2Ccompress&placeholder=dominantColor&w=1080&h=908");
  background-position: 100% 100%;
  background-size:contain;
  background-repeat: no-repeat;
  height: 90vh;
  width: 100%;
  padding-left: 50px;
  overflow: hidden;
  /* background-color: red; */
}
.Page404maindiv h1{
  margin-top: 6rem;
  margin-bottom: 2rem;
}
.divdata{
  /* background-color: #005ce6; */
  width: 50vw;
}
.Page404maindiv .btnn{
  /* border: none; */
  font-size: 19px;
  font-weight: 400;
  color: #6B21A8;

}
.Page404maindiv p{
  color: #556575;
  line-height: 2.4rem;
  font-size: 24px;
  font-weight: 450;
  margin-bottom: 50px;
}


/* login */
.loginWrapper{
  width: 100%;
  /* height: 70vh; */
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.form_main {
  width: 470px;
  height: 65vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  padding: 30px 30px 30px 30px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.062);
  position: relative;
  overflow: hidden;
  margin-top: 50px;
  

}

.form_main::before {
  position: absolute;
  content: "";
  width: 330px;
  height: 330px;
  background-color: rgb(209, 193, 255);
  transform: rotate(45deg);

  top: 55px;
  bottom: 30px;
  z-index: 1;
  border-radius: 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.082);
}

.heading {
  font-size: 2em;
  color: #2e2e2e;
  font-weight: 700;
  margin: 5px 0 10px 0;
  z-index: 2;
}

.inputContainer {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.inputIcon {
  position: absolute;
  left: 3px;
}

.inputField {
  width: 100%;
  height: 30px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgb(173, 173, 173);
  margin: 10px 0;
  color: black;
  font-size: .9em;
  font-weight: 500;
  box-sizing: border-box;
  padding-left: 30px;
}

.inputField:focus {
  outline: none;
  border-bottom: 2px solid rgb(199, 114, 255);
}

.inputField::placeholder {
  color: rgb(80, 80, 80);
  font-size: 1em;
  font-weight: 500;
}

#button {
  z-index: 2;
  position: relative;
  width: 50%;
  border: none;
  background-color: rgb(162, 104, 255);
  height: 38px;
  color: white;
  font-size: .9em;
  top: 30px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 10px;
  cursor: pointer;
}

#button:hover {
  background-color: rgb(126, 84, 255);
}

.forgotLink {
  z-index: 2;
  font-size: .8em;
  font-weight: 500;
  color: rgb(44, 24, 128);
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 20px;
  position: relative;
  top: 30px;
}

.loginIconImage{
  /* position: absolute; */
  position: static;
}

/* signup  */


/* search btn */
.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  position: relative;
}

.input {
  border-style: none;
  height: 40px;
  width: 30px;
  /* padding: 10px; */
  outline: none;
  border-radius: 50%;
  transition: .5s ease-in-out;
  background-color: #7e4fd4;
  box-shadow: 0px 0px 3px #f3f3f3;
  padding-right: 40px;
  color: #000000;
}
.input1 {
  border-style: none;
  height: 40px;
  width: 30px;
  /* padding: 10px; */
  outline: none;
  border-radius: 50%;
  transition: .5s ease-in-out;
  background-color:rgb(192 132 252) ;
  box-shadow: 0px 0px 3px #f3f3f3;
  padding-right: 40px;
  color: #ffffff;
}

.input1::placeholder,
.input1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 17px;
}

.input1::placeholder {
  color: #000000;
}
.input::placeholder,
.input {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 17px;
}

.input::placeholder {
  color: #000000;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0px;
  cursor: pointer;
  width: 20px;
  right: -20px;
  height: 50px;
  outline: none;
  border-style: none;
  border-radius: 50%;
  pointer-events: painted;
  background-color: transparent;
  transition: .2s linear;
  color: red;
}

.icon:focus ~ .input,
.input:focus {
  box-shadow: none;
  width: 250px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 3px solid #7e4fd4;
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.icon:focus ~ .input1,
.input1:focus {
  box-shadow: none;
  width: 250px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 3px solid rgb(192 132 252);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

/* tooogle btn */

/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
  transform-style: preserve-3d;
  perspective: 900px;
  animation: toggle__animation 3s infinite;
}

.switch::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  filter: blur(20px);
  z-index: -1;
  border-radius: 50px;
  background-color: #d8ff99;
  background-image: radial-gradient(at 21% 46%, hsla(183,65%,60%,1) 0px, transparent 50%),
radial-gradient(at 23% 25%, hsla(359,74%,70%,1) 0px, transparent 50%),
radial-gradient(at 20% 1%, hsla(267,83%,75%,1) 0px, transparent 50%),
radial-gradient(at 86% 87%, hsla(204,69%,68%,1) 0px, transparent 50%),
radial-gradient(at 99% 41%, hsla(171,72%,77%,1) 0px, transparent 50%),
radial-gradient(at 55% 24%, hsla(138,60%,62%,1) 0px, transparent 50%);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fdfefedc;
  transition: .4s;
  border-radius: 30px;
}
.slider1 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fdfefedc;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  left: 0.3em;
  bottom: 0.35em;
  transition: .4s;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -10px 10px 0px inset,
     rgba(0, 0, 0, 0.09) 0px -1px 15px -8px;
  background-color:#7e4fd4;
  
}
.slider1:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  left: 0.3em;
  bottom: 0.35em;
  transition: .4s;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -10px 10px 0px inset,
     rgba(0, 0, 0, 0.09) 0px -1px 15px -8px;
  background-color:rgb(192 132 252);
  
}

.input__check:checked + .slider {
  background-color: #17202A;
}
.input__check:checked + .slider1 {
  background-color: #17202A;
}

.input__check:checked + .slider:before {
  transform: translateX(1.5em);
}
.input__check:checked + .slider1:before {
  transform: translateX(1.5em);
}

@keyframes toggle__animation {
  0%, 100% {
    transform: translateY(-5px) rotateX(15deg) rotateY(-20deg);
  }

  50% {
    transform: translateY(5px) rotateX(15deg) rotateY(-20deg);
  }
}



/* #style-3 {
  background-color: #eebab2;
} */

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.9);
  border-radius: 6px;
  background-color: white;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 9px;
  background-color:white;
  
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color:rgba(128, 128, 128, 0.2);
}

::-webkit-scrollbar-thumb:hover {
  background-color:#7e22ce;
}

/* dark mode */
