
/* navbar  */

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
   /* font-family:poopins; */
}
.libtnmoon{
  font-size: 25px;
  color: #6B21A8;
}
.navb{
  border-bottom: 1px groove rgba(128, 128, 128, 0.189);
}
.navbarbtnli>.darkmodeIcon{
  background-color: transparent;
  border-radius: 20px;
  border: none;
}
.navbarbtnli>.navbarbtn{
 background-color: rgb(126 34 206);
 color: white;
  border: none;
  font-size: 14px;
  font-weight: 500;
}
.navbar-nav>li{
  font-weight: 500;
}
.font-color-700{
  color:rgb(126, 34, 206);
  cursor: pointer;
}
.bg-color-700{
  background-color:rgb(126, 34, 206);
  color: white;
  cursor: pointer;
}
.font-color-700:hover{
  color:rgb(126, 34, 206);
}
.title{
  font-weight: bold;
}
.active{
  color: #6B21A8 !important;
}
.homeicon{
  border: none;
  color: #6B21A8;
  background-color: white;
}
.homeicon .homeiconmain{
  color: #6B21A8;
  
}
.navContainer{
  position:sticky;
  top: 0px;
  z-index: 10;
  background-color: white;
}

/* section 1 */
/* home */

.heroSection{
  
}
.heroSectionRow{
  /* height: 63vh;
  width: auto; */
}
.heroSectionLeftDiv{
  padding: 80px 30px;
}
.heroSectionLeftDiv h1{
  font-weight: 600;
  font-size: 2.2rem;
  
}
.heroSectionLeftDiv h1 span{
 color: #6B21A8;
}
.heroSectionLeftDiv p{
/* text-align: justify; */
font-weight: 400;
}
.heroSectionLeftDiv h6{
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: -5px;
  margin-bottom: 10px;
  /* height: 20px; */
  
}
.heroSectionBtns button{
  font-size: 14px;
  
}
.mainimg{
  height: 95%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%);
  background: linear-gradient(rgba(24, 29, 56, 0.2), rgba(24, 29, 56, 0.3)),
    url("/mainImg.avif");
    background-size: 100% 100% ;
  
}

.heroSectionRightDiv{
  margin: 0px;
  padding: 0px;
  /* height: 30vw; */
  /* background-color: #6B21A8; */
  /* padding-bottom: 20px ; */
  
}

/* typing animation */
.Typinganimation{
  color: #6B21A8;
}
.section2{
  height: 80vh;
  width: 100%;
}
.courseCards{
  height: 80vh;
  width: 100%;
}

/* card */
.card{
  border: none;
  /* text-align: center; */
}


.cardh6{
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: -10px;
  margin-top: -15px;
  
  /* object-fit: contain;
   */
}
.cardBtn{
  border-radius: 20px;
  /* margin-top: -50px; */
  
 
}
.cardBtn:hover{
  background-color:blueviolet;
  color: white;

}
.style1{
  width: 24rem;
  overflow: hidden;
}
.style2{
  width: 22rem;
  /* background-color:yellow; */
}


/* section 2 */
.section2{
  width: 100%;
  height: auto;
  /* background-color: yellow; */
  margin-bottom: 50px;
}


/* section 3 */

.section3 h1{
  text-align: center;
  font-weight: 500;
  font-size: 1.875rem;

}
.testimonials{
  /* background-color: violet; */
  cursor: pointer;


}
.testomonialImgs{
  height: 100px;
  width: 100px;
  border-radius: 150px;
  
}
/* .testomonialh5margintop{
  margin-top: -15px;
  font-size: 95px;
  font-weight: 630;
} */

/* footer */
.section9::before {
  position: absolute;
  content: "ram";
  width: 4%;
  height: 2px;
  top: 3px;
  left: 555px;
  margin-top: 0px;
  background-color: #06bbcc;
  z-index: 1;
}
.copyright {
  display: flex;
  justify-content: center;
}
.innerparentdiv {
  margin-top: 30px;
  width: 90%;
  height: auto;
  color: #6B21A8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  border-top: 1px solid #6B21A8 ;
  /* color: #ffffff; */
}

.innerparentdivul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 10px;
}
.innerparentdivul li {
  padding-right: 25px;

  list-style: none;
  font-size: 15px;
}
.innerparentdiv p {
  font-size: 15px;
}

.innerparentdiv a {
  text-decoration: underline;
  padding-top: 10px;
  color:#6B21A8;
}
.innerparentdiv p::before {
  content:'' ;
}
.sectionFooter{
  /* background-color:#6b21a8d8; */

  margin-top: 50px;
}

/* before and after */

.containtparent {
  position: relative;
}
.section2 .containtparent > h4 {
  text-align: center;
  margin-top: 30px;
  color:#6B21A8;
  font-weight: 500;
  font-size: 1.2rem;
}
.section2 .containtparent > h1 {
  text-align: center;
  font-weight: 500;
  font-size: 1.875rem;
}
/* first */
.containt::before {
  position: absolute;
  content: "";
  width: 4%;
  height: 2px;
  top: 6px;
  left: 40vw;
  margin-top: 0px;
  background-color:#6B21A8;
  z-index: 1;
}
/* second */
.containtparent::before {
  position: absolute;
  content: "";
  width: 6%;
  height: 2px;
  top: 15px;
  left: 38vw;
  margin-top: 0px;
  background-color:#6B21A8;
  z-index: 1;
}
/* first */
.containt::after {
  position: absolute;
  content: "";
  width: 4%;
  height: 2px;
  top: 6px;
  left: 54vw;
  margin-top: 0px;
  background-color:#6B21A8;
  z-index: 1;
}
/* second */
.containtparent::after {
  position: absolute;
  content: "";
  width: 6%;
  height: 2px;
  top: 15px;
  left: 54vw;
  margin-top: 0px;
  background-color:#6B21A8;
  z-index: 1;
}

/* courses page */
.cardWrapper{
  /* background-color: red; */
  /* padding: 4rem; */
}
.parag{
 
  height: 150px;
  width:100%
  
}
.btnContainer button{
  background-color: #6B21A8 !important;
}

/* tutorial page */

.nablinkinsidebtn{
  color: black;
  text-decoration: none;
}
/* tutorial card */
.tutorialCardImg{
  /* background-color: red; */
  height: 100px;
  width: auto;
  object-fit:contain;

}
.tutorialinsidbtn{
  /* border: none; */
  /* background-color: unset; */
  /* outline: none; */
}

/* blog page */

.blogH1{
  text-align: center;
  font-weight: 500;
  font-size: 1.875rem;
}

/* notes paage */

.NotesH1{
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
  color: #6B21A8;
}
.notesPara{
  margin-top: -20px;
}
.borderr{
  border: 1px solid rgba(128, 128, 128, 0.254);
}

/* contact page */

.contactWrapper{
  margin-top: 100px;
  margin-bottom: 50px;
  /* padding: 100px 50px 0px 50px; */
  height: 60vh;
  width: 100%;
  background-color:#F3F4F6;
  
}
.contactImg{
 
  height: 150px;
  width: 150px;
  border-radius: 100%;
}
.contactIcons{
  /* margin-left: 30rem;
  margin-right: 30rem; */
  
}
.icon{
  font-size: 2rem;
  margin: 30px;
}
.icon:hover{
  cursor: pointer;
  color:#6B21A8;
}

/* work with us */
.radiobtnContainer{
  /* background-color: red; */
 margin: 0px;
 padding: 0px;
  /* display: flex;
  justify-content: space-evenly;
  /* flex-wrap: wrap; */ 
  /* display: flex;
  justify-content: space-between;
  flex-wrap: wrap; */
}
.skillsContainer{
  height: 100%;
  width: 100%;
  /* background-color: yellow; */

  
}
ul li{
  list-style: none;
  /* float: right; */
  display: flex;
}
.radiobtnContainer{
  display: flex;
  margin-top: 10px;
  
}
.radiobtnContainer .dd{
  /* background-color: aqua; */
  /* height: 2  8px; */
  /* color: yellow; */
  border-radius: 100%;
  list-style: none;
  /* float: right; */
 margin-left: -10px;
 /* padding: 10px; */

}

.formContainerWorkWithUs{
  /* background-color: #005ce6; */
}

.cpntainerrrrr {
  max-width: 380px;
  background-color: #F1F7FE;
  border-radius: 15px;
  overflow: hidden;
}

.formm {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding:  32px 24px 24px;

  gap: 16px;
  /* text-align: center; */
}

form .head {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

form .head span {
  font-size: 1.6rem;
  font-weight: bolder;
  color: black;
  margin-top: -35px;
}
.item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

form .head p {
  font-size: 1.1rem;
  color: #7C6666;
}

form .inputs {
  overflow: hidden;
  /* background-color: #F1F7FE; */
  /* background-color: #06bbcc; */
  width: 100%;
  margin: 1rem 0.5rem;
  border-radius: 8px;
  border-bottom: none;
  outline: 0;
}

form .inputs input {
  border: none;
  outline: none;
  padding: 8px 15px;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.299);
  font-weight: 200;
  border-radius: 6px;
}

form button {
  background-color:#6B21A8;
  color: white;
  width: 100%;
  height: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 0;
  overflow: hidden;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 1s ease-in-out;
}

form button:hover {
  background-color: #005ce6;
}


/* 404 page */

.Page404maindiv{
  background-image: url("https://hs-marketing.imgix.net/images/pages/404/illustration-dogs.png?ixlib=gatsbyHook-2.1.1&fit=min&auto=format%2Ccompress&placeholder=dominantColor&w=1080&h=908");
  background-position: 100% 100%;
  background-size:contain;
  background-repeat: no-repeat;
  height: 90vh;
  width: 100%;
  padding-left: 50px;
  overflow: hidden;
  /* background-color: red; */
}
.Page404maindiv h1{
  margin-top: 6rem;
  margin-bottom: 2rem;
}
.divdata{
  /* background-color: #005ce6; */
  width: 50vw;
}
.Page404maindiv .btnn{
  /* border: none; */
  font-size: 19px;
  font-weight: 400;
  color: #6B21A8;

}
.Page404maindiv p{
  color: #556575;
  line-height: 2.4rem;
  font-size: 24px;
  font-weight: 450;
  margin-bottom: 50px;
}
