
/* navbar  */

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
   /* font-family:poopins; */
}
.libtnmoon{
  font-size: 25px;
  color: #6B21A8;
}
.navb{
  border-bottom: 1px groove rgba(128, 128, 128, 0.189);
}
.navbarbtnli>.darkmodeIcon{
  background-color: transparent;
  border-radius: 20px;
  border: none;
}
.navbarbtnli>.navbarbtn{
 background-color: rgb(126 34 206);
 color: white;
  border: none;
  font-size: 14px;
  font-weight: 500;
}
.navbar-nav>li{
  font-weight: 500;
}
.font-color-700{
  color:rgb(126, 34, 206);
  cursor: pointer;
}
.bg-color-700{
  background-color:rgb(126, 34, 206);
  color: white;
  cursor: pointer;
}
.font-color-700:hover{
  color:rgb(126, 34, 206);
}
.title{
  font-weight: bold;
}
.active{
  color: #6B21A8 !important;
}
.homeicon{
  border: none;
  color: #6B21A8;
  background-color: white;
}
.homeicon .homeiconmain{
  color: #6B21A8;
  
}
.navContainer{
  position:sticky;
  top: 0px;
  z-index: 10;
  background-color: white;
}

/* section 1 */
/* home */

.heroSection{
  
}
.heroSectionRow{
  /* height: 63vh;
  width: auto; */
}
.heroSectionLeftDiv{
  padding: 80px 30px;
}
.heroSectionLeftDiv h1{
  font-weight: 600;
  font-size: 2.2rem;
  
}
.heroSectionLeftDiv h1 span{
 color: #6B21A8;
}
.heroSectionLeftDiv p{
/* text-align: justify; */
font-weight: 400;
}
.heroSectionLeftDiv h6{
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: -5px;
  margin-bottom: 10px;
  /* height: 20px; */
  
}
.heroSectionBtns button{
  font-size: 14px;
  
}
.mainimg{
  height: 95%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%);
  background: linear-gradient(rgba(24, 29, 56, 0.2), rgba(24, 29, 56, 0.3)),
    url("/mainImg.avif");
    background-size: 100% 100% ;
  
}

.heroSectionRightDiv{
  margin: 0px;
  padding: 0px;
  /* height: 30vw; */
  /* background-color: #6B21A8; */
  /* padding-bottom: 20px ; */
  
}

/* typing animation */
.Typinganimation{
  color: #6B21A8;
}
.section2{
  height: 80vh;
  width: 100%;
}
.courseCards{
  height: 80vh;
  width: 100%;
}

/* card */
.card{
  border: none;
  /* text-align: center; */
}


.cardh6{
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: -10px;
  margin-top: -15px;
  
  /* object-fit: contain;
   */
}
.cardBtn{
  border-radius: 20px;
  /* margin-top: -50px; */
 
}
.cardBtn:hover{
  background-color:blueviolet;
  color: white;

}
.style1{
  width: 24rem;
  overflow: hidden;
}
.style2{
  width: 22rem;
  /* background-color:yellow; */
}


/* section 2 */
.section2{
  width: 100%;
  height: auto;
  /* background-color: yellow; */
  margin-bottom: 50px;
}


/* section 3 */

.section3 h1{
  text-align: center;
  font-weight: 500;
  font-size: 1.875rem;

}
.testimonials{
  /* background-color: violet; */
  cursor: pointer;


}
.testomonialImgs{
  height: 100px;
  width: 100px;
  border-radius: 150px;
  
}
/* .testomonialh5margintop{
  margin-top: -15px;
  font-size: 95px;
  font-weight: 630;
} */

/* footer */
.section9::before {
  position: absolute;
  content: "ram";
  width: 4%;
  height: 2px;
  top: 3px;
  left: 555px;
  margin-top: 0px;
  background-color: #06bbcc;
  z-index: 1;
}
.copyright {
  display: flex;
  justify-content: center;
}
.innerparentdiv {
  margin-top: 30px;
  width: 90%;
  height: auto;
  color: #6B21A8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  border-top: 1px solid #6B21A8 ;
  /* color: #ffffff; */
}

.innerparentdivul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 10px;
}
.innerparentdivul li {
  padding-right: 25px;

  list-style: none;
  font-size: 15px;
}
.innerparentdiv p {
  font-size: 15px;
}

.innerparentdiv a {
  text-decoration: underline;
  padding-top: 10px;
  color:#6B21A8;
}
.innerparentdiv p::before {
  content:'' ;
}
.sectionFooter{
  /* background-color:#6b21a8d8; */

  margin-top: 50px;
}

/* before and after */

.containtparent {
  position: relative;
}
.section2 .containtparent > h4 {
  text-align: center;
  margin-top: 30px;
  color:#6B21A8;
  font-weight: 500;
  font-size: 1.2rem;
}
.section2 .containtparent > h1 {
  text-align: center;
  font-weight: 500;
  font-size: 1.875rem;
}
/* first */
.containt::before {
  position: absolute;
  content: "";
  width: 4%;
  height: 2px;
  top: 6px;
  left: 555px;
  margin-top: 0px;
  background-color:#6B21A8;
  z-index: 1;
}
/* second */
.containtparent::before {
  position: absolute;
  content: "";
  width: 6%;
  height: 2px;
  top: 15px;
  left: 528px;
  margin-top: 0px;
  background-color:#6B21A8;
  z-index: 1;
}
/* first */
.containt::after {
  position: absolute;
  content: "";
  width: 4%;
  height: 2px;
  top: 6px;
  left: 743px;
  margin-top: 0px;
  background-color:#6B21A8;
  z-index: 1;
}
/* second */
.containtparent::after {
  position: absolute;
  content: "";
  width: 6%;
  height: 2px;
  top: 15px;
  left: 743px;
  margin-top: 0px;
  background-color:#6B21A8;
  z-index: 1;
}

/* courses page */
