/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */


*{
  /* font-family: ui-sans-serif,system-ui,'-apple-system','BlinkMacSystemFont','Segoe UI','Roboto','Helvetica Neue','Arial','Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji'; */
/* font-family: 'Courier New', Courier, monospace; */
  /* font-family:poopins; */
}

.libtnmoon{
  font-size: 25px;
  color: #6B21A8;
 
}
.navb{
  border-bottom: 1px groove rgba(128, 128, 128, 0.189);
}
.navbarbtnli>.darkmodeIcon{
  /* background-color: rgb(224, 30, 30); */
  background-color: transparent;
  border-radius: 20px;
  border: none;
}
.navbarbtnli>.navbarbtn{
 background-color: rgb(126 34 206);
 color: white;
  border: none;
  font-size: 14px;
  font-weight: 500;
}
.navbar-nav>li{
  font-weight: 500;
}
.navul>li :hover{
  color: rgb(226 34 206);
  /* background-color: rgb(0, 255, 157); */
  text-decoration: underline;
}
.font-color-700{
  color:rgb(126, 34, 206);
}
.font-color-700:hover{
  color:rgb(126, 34, 206);
}
.title{
  font-weight: bold;

}


