
/* navbar  */

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
   /* font-family:poopins; */
}
.libtnmoon{
  font-size: 25px;
  color: #6B21A8;
}
.navb{
  border-bottom: 1px groove rgba(128, 128, 128, 0.189);
}
.navbarbtnli>.darkmodeIcon{
  background-color: transparent;
  border-radius: 20px;
  border: none;
}
.navbarbtnli>.navbarbtn{
 background-color: rgb(126 34 206);
 color: white;
  border: none;
  font-size: 14px;
  font-weight: 500;
}
.navbar-nav>li{
  font-weight: 500;
}
.font-color-700{
  color:rgb(126, 34, 206);
  cursor: pointer;
}
.font-color-700:hover{
  color:rgb(126, 34, 206);
}
.title{
  font-weight: bold;
}
.active{
  color: #6B21A8 !important;
}

/* section 1 */
/* home */

.heroSection{
  
}
.heroSectionRow{
  height: 63vh;
  width: auto;
}
.heroSectionLeftDiv{
  padding: 80px 30px;
}
.heroSectionLeftDiv h1{
  font-weight: 600;
  font-size: 2.2rem;
  
}
.heroSectionLeftDiv h1 span{
 color: #6B21A8;
}
.heroSectionLeftDiv p{
/* text-align: justify; */
font-weight: 400;
}
.heroSectionLeftDiv h6{
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: -5px;
  margin-bottom: 10px;
  
}
.heroSectionBtns button{
  font-size: 14px;
  
}
.mainimg{
  height: 95%;
  width: 100%;
  object-fit: contain;
  clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%);
  background: linear-gradient(rgba(24, 29, 56, 0.2), rgba(24, 29, 56, 0.3)),
    url("/mainImg.avif");
    background-size: 100% 100%;
  
}

.heroSectionRightDiv{
  margin: 0px;
  padding: 0px;
  /* background-color: #6B21A8; */
  /* padding-bottom: 20px ; */
  
}

/* section 2 */

.section2 h1{
  font-weight: 500;
  font-size: 1.875rem;
}

/* typing animation */
.Typinganimation{
  color: #6B21A8;
}
